*{
    padding: 0;
    margin: 0;
}
ul{
list-style: none;
}

body{
    background: url("../img/zmbj.png");
    background-size: cover;
    padding-top: 100px;
}
a{
    color: black;
}
#top{
    background-color: rgba(241,241,241,0.8);
    height: 44px;
    margin: 12px 0 0;
    width: 100%;
    /*相对浏览器定位*/
    position: fixed;
    top: 0;
    left: 0;
    /* 居中*/
    line-height: 44px;
}
#top .top-Left li{
    float: left;
    margin-left: 8px;

}

#top .top-Left {
    /*display: inline-block;*/

}

/*中间的内容*/
#content .file{
    color: white;
    text-align: center;
    /*改变标签类型*/
    display: inline-block;

    margin-left: 18px;
}
#content .file img{
    width: 90px;
}
/*尾部*/
#footer{
    height: 66px;
    width: 100%;
    position: fixed;

    bottom: 0;
    left: 0;
}
#footer .dock{
    width: 60%;
    height: 100%;
    background: url("../img/bg_dock.png");
    /*居中*/
    margin: 0 auto;
    /*圆角*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /** 透明度*/
    opacity: 0.9;
    /* 子标签水平和垂直居中*/
    line-height: 66px;

}
#footer .dock ul,#footer .dock ul li {
    display: inline-block;
}
#footer .dock img{
    width: 50px;
    /*左右边距*/
    margin:0 12px;
}

#footer .dock ul li{
    /*过渡属性*/
    -webkit-transition:linear 0.25s;
    -moz-transition:linear 0.25s;
    -ms-transition:linear 0.25s;
    -o-transition:linear 0.25s;
    transition:linear 0.25s;
}

#footer .dock ul li:hover{
    /*位置参照*/
    transform-origin: center bottom;
    /*2Db变形*/
    transform: scale(1.5);
}