<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--byType-->
    <bean id="myStudent" class="com.bjpowernode.ba06.Student" autowire="byType">
        <property name="name" value="张飒"/>
        <property name="age" value="26"/>
<!--        <property name="school" ref="myXueXiao"/>-->
    </bean>

        <!--申明School对象 符合第一种-->
    <bean id="mySchool" class="com.bjpowernode.ba06.School">
        <property name="name" value="人民大学"/>
        <property name="address" value="北京的海淀区"/>
    </bean>

</beans>